<!doctype html>
<html lang="ar" dir="rtl">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Webcontsractors</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
          rel="stylesheet" />
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css'>
    <link href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap5.css"
          rel="stylesheet" />
    <link href="https://cdn.datatables.net/datetime/1.5.5/css/dataTables.dateTime.min.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    <!-- Pick a JavaScript (DOM) Libarary -->
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <!-- load the range-touch.js file to enable slider on touch devices -->
    <script type="text/javascript"
            src="https://cdn.rawgit.com/dwyl/range-touch/master/range-touch.min.js"></script>

    <!-- OPTIONAL: display the value as the slider is changing -->
    <script type="text/javascript"
            src="https://cdn.rawgit.com/dwyl/range-touch/master/demo/display-range-value.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js'></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
    <script src="https://cdn.datatables.net/datetime/1.5.5/js/dataTables.dateTime.min.js"></script>

    <!-- PDF libraries -->
    <!-- JS for searching -->
    <script src="~/lib/jquery/dist/JQRep.js"></script>
    <script src="~/lib/jquery/dist/JQueries.js"></script>
    <script src="~/lib/jquery/dist/JQmodal.js"></script>
    <script src="~/lib/jquery/dist/DTables.js"></script>
</body>
</html>
